# Ignorar ejecutables de Go
*.exe
*.out
*.o
*.a

# Ignorar archivos de depuración de Go
__debug_bin*

# Ignorar módulos de Go descargados
/bin/
/pkg/mod/
/vendor/

# Ignorar configuración del editor
.idea/
*.swp
*.swo

# Ignorar archivos de base de datos
data/server.db

# Ignorar archivos de entorno y logs
.env
*.log

# Ignorar archivo credenciales Google
/keys/credentials.json

# Ignorar carpeta de logs y backups
/logs/
/backups/